.icon-AdminClerkDashboard {
    height: 14px;
    background-image: url('../img/clerk.png');
    background-repeat: no-repeat;
    background-size: 14px;
}
#subtab-AdminClerkDashboard > a > .material-icons {

    height: 17px;
    width: 17px;
    background-image: url('../img/clerk.png');
    background-repeat: no-repeat;
    background-size: 17px;


}

@media screen and (max-width: 600px){
    .clerk-ios-mobile-zoom-fix{
        font-size: 18px !important;
    }
}